USE [master]
GO
/****** Object:  Database [QUẢN LÝ MẠNG LAN KTX]    Script Date: 4/23/2025 6:27:52 PM ******/
CREATE DATABASE [QUẢN LÝ MẠNG LAN KTX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUẢN LÝ MẠNG LAN KTX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV20022004\MSSQL\DATA\QUẢN LÝ MẠNG LAN KTX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUẢN LÝ MẠNG LAN KTX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV20022004\MSSQL\DATA\QUẢN LÝ MẠNG LAN KTX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUẢN LÝ MẠNG LAN KTX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUẢN LÝ MẠNG LAN KTX]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 4/23/2025 6:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[STT] [int] NOT NULL,
	[mssv] [nvarchar](15) NOT NULL,
	[tenSV] [nvarchar](50) NOT NULL,
	[maPHONG] [nvarchar](20) NULL,
	[maTHIETBI] [nvarchar](20) NULL,
	[Thongtinsuco] [nvarchar](50) NULL,
	[ketqua] [nvarchar](20) NULL,
 CONSTRAINT [PK_BAOCAO_1] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHINHMANG]    Script Date: 4/23/2025 6:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHINHMANG](
	[STT] [int] NOT NULL,
	[maCAUHINH] [nvarchar](20) NOT NULL,
	[maTHIETBI] [nvarchar](20) NULL,
	[maQTV] [nchar](10) NULL,
	[IP] [nvarchar](50) NULL,
	[SNmask] [nvarchar](50) NULL,
	[Gateway] [nvarchar](50) NULL,
	[DNS] [nvarchar](50) NULL,
	[Ngaycauhinh] [date] NULL,
 CONSTRAINT [PK_CAUHINHMANG] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[maCAUHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 4/23/2025 6:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[maPHONG] [nvarchar](20) NOT NULL,
	[Tang] [nvarchar](5) NULL,
	[Toa] [nvarchar](5) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[maPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANTRIVIEN]    Script Date: 4/23/2025 6:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANTRIVIEN](
	[maQTV] [nchar](10) NOT NULL,
	[tenQTV] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[SĐT] [float] NULL,
	[chucvu] [nvarchar](20) NULL,
	[Trangthaitaikhoan] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUANTRIVIEN_1] PRIMARY KEY CLUSTERED 
(
	[maQTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/23/2025 6:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[STT] [int] NOT NULL,
	[mssv] [nvarchar](15) NOT NULL,
	[tenSV] [nvarchar](50) NOT NULL,
	[maPHONG] [nvarchar](20) NULL,
	[maTHIETBI] [nvarchar](20) NULL,
	[maTK] [nvarchar](20) NULL,
 CONSTRAINT [PK_SINHVIEN_1] PRIMARY KEY CLUSTERED 
(
	[mssv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/23/2025 6:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[maTK] [nvarchar](20) NOT NULL,
	[mssv] [nvarchar](15) NULL,
	[Tendangnhap] [nvarchar](20) NULL,
	[Matkhau] [nvarchar](15) NULL,
	[Trangthaitaikhoan] [nvarchar](20) NULL,
	[Ngaycauhinh] [date] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 4/23/2025 6:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[STT] [int] NOT NULL,
	[maTHIETBI] [nvarchar](20) NOT NULL,
	[tenTHIETBI] [nvarchar](50) NOT NULL,
	[maPHONG] [nvarchar](20) NULL,
	[TrangThaiHoatDong] [nvarchar](50) NULL,
	[Lichsutrangthai] [nvarchar](100) NULL,
	[SoLanCauHinh] [int] NULL,
 CONSTRAINT [PK_THIETBI_1] PRIMARY KEY CLUSTERED 
(
	[maTHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_THIETBI] UNIQUE NONCLUSTERED 
(
	[maTHIETBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[THIETBI] ADD  DEFAULT ((0)) FOR [SoLanCauHinh]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_PHONG] FOREIGN KEY([maPHONG])
REFERENCES [dbo].[PHONG] ([maPHONG])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_PHONG]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_SINHVIEN] FOREIGN KEY([mssv])
REFERENCES [dbo].[SINHVIEN] ([mssv])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_SINHVIEN]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_THIETBI1] FOREIGN KEY([maTHIETBI])
REFERENCES [dbo].[THIETBI] ([maTHIETBI])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_THIETBI1]
GO
ALTER TABLE [dbo].[CAUHINHMANG]  WITH CHECK ADD  CONSTRAINT [FK_CAUHINHMANG_QUANTRIVIEN] FOREIGN KEY([maQTV])
REFERENCES [dbo].[QUANTRIVIEN] ([maQTV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAUHINHMANG] CHECK CONSTRAINT [FK_CAUHINHMANG_QUANTRIVIEN]
GO
ALTER TABLE [dbo].[CAUHINHMANG]  WITH CHECK ADD  CONSTRAINT [FK_CAUHINHMANG_THIETBI] FOREIGN KEY([maTHIETBI])
REFERENCES [dbo].[THIETBI] ([maTHIETBI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAUHINHMANG] CHECK CONSTRAINT [FK_CAUHINHMANG_THIETBI]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_PHONG] FOREIGN KEY([maPHONG])
REFERENCES [dbo].[PHONG] ([maPHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_PHONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_SINHVIEN] FOREIGN KEY([mssv])
REFERENCES [dbo].[SINHVIEN] ([mssv])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_SINHVIEN]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_PHONG] FOREIGN KEY([maPHONG])
REFERENCES [dbo].[PHONG] ([maPHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_PHONG]
GO
USE [master]
GO
